version: "3.0"
services:
  product:
    image: ${app_image}
    environment:
      - app_port=${app_port}
      - app_name=${app_name}
      - db_host=${db_host}
      - db_port=${db_port}
      - db_name=${db_name}
      - db_password=${db_password}
      - db_user=${db_user}
    networks:
      - ${db_net}
    ports:
      - ${app_port}:${app_port}
    volumes:
      - /data/${app_group}/${app_artifact}:${app_storage}
    # restart: always
    container_name: ${app_group}-${app_artifact}

networks:
  org.foodres.microservice.db.mysql:
    external: true
